<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<title>Task Tracker - Add task</title>
	</head>
	<body>
		<h1 id="add_h1">Add new task</h1>
		<form action="/addtask" method="POST">
			<label for="title">Task</label><br>
			<input type="text" name="title">
			<select name="status">
				<option value="todo">To do</option>
				<option value="inprogress">In progress</option>
				<option value="complete">Complete</option>
			</select>
			<input type="submit" value="Submit" id="submit">
			<a href="{{ url_for('dashboard') }}"><button type="button" id="cancel">Cancel</button></a>
		</form>
	</body>
</html>