<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Task Tracker</title>
	</head>
	<body>
		<h1>Task Tracker</h1>
		<p>Manage your day</p>
		<a href="/addtask"><button>Add task</button></a>

		<table>
			<tr>
				<th>Id</th>
				<th>Task</th>
				<th>Status</th>
				<th>Edit</th>
				<th>Remove</th>
			</tr>
			{% for data in tasks %}
			<tr>
				<td>{{ data.id }}</td>
				<td>{{ data.title }}</td>
				<td>{{ data.status }}</td>
				<td><a href="{{ url_for('edit_task', id=data.id) }}"><button>Edit</button></a></td>
				<td><a href="{{ url_for('del_task', id=data.id) }}"><button>Delete</button></a></td>
			</tr>
			{% endfor%}
		</table>
	</body>
</html>