<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<title>Task Tracker</title>
	</head>
	<body class="container">
		<h1 id="tasktracker">Task Tracker</h1>
		<h2 id="slogan">Manage your day</h2>
		<a href="/addtask"><button id="addtask">[+] Add task</button></a>

		<table>
			<tr>
				<th>Task</th>
				<th>Status</th>
				<th>Edit</th>
				<th>Remove</th>
			</tr>
			{% for data in tasks %}
			<tr>
				<td>{{ data.title }}</td>
				<td id="task_status">{{ data.status }}</td>
				<td id="edit"><a href="{{ url_for('edit_task', id=data.id) }}"><button class="dash_b" id="edit_b">Edit</button></a></td>
				<td id="delete"><a href="{{ url_for('del_task', id=data.id) }}"><button class="dash_b" id="cancel">Delete</button></a></td>
			</tr>
			{% endfor%}
		</table>
	</body>
</html>