<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Task Tracker - Delete task</title>
	</head>
	<body>
		<form action="{{ url_for('del_task', id=task.id) }}" method="POST">
			<input type="hidden" name="_method" value="DELETE">
			<h1>Are you sure you want to delete the task?</h1>
			<input type="submit" value="Yes">
		</form>
	<a href="{{ url_for('dashboard') }}"><button>No</button></a>
	</body>
</html>